h3{
    color: black;
}


p{
    color: black;
}

img{
    width: 720px;

}

.backends{
    background-image: url("https://i.vimeocdn.com/video/1038645087_1280x720.jpg");
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.line{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4px;
}

@media screen  and (max-width: 600px){
    .line{
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    img{
        width: 100%;
    }
    .backends{
        background-image: url("https://i.vimeocdn.com/video/1038645087_1280x720.jpg");
        width: 100%;
        height: 150px;
        background-position: center;
        background-size: cover;
    }
}